.SignInfo {
  max-width: 1000px;
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 2rem;
  padding: 20px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.UserInfo label {
  margin-top: 10px;
  margin-right: 10px;
}

.UserInfo input[type="text"],
.UserInfo input[type="password"] {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 300px;
}

.UserInfo select {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 147px;
}

.UserInfo input.userEmail {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 124px;
}

.UserInfo select.userPhone {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 80px;
}

.UserInfo input.userPhone {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-left: 5px;
  width: 93px;
}

.UserInfo input.vertifyNum {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 197px;
  text-align: right;
}

.UserInfo select.userGender {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 322px;
  margin-bottom: 10px;
}

.button {
  width: 90px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 7px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  background-color: #5D59FF;
}

.button:hover {
  background-color: white;
  color: black;
  border: 2px solid #5D59FF;
}

.resend {
  background-color: #A4AAB3;
}

.resend:hover {
  border: 2px solid #A4AAB3;
}

.SignUpBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.SignUpBtn button {
  padding: 10px 20px;
  background-color: #5D59FF;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

.SignUpBtn button:hover {
  background-color: white;
  color: black;
  border: 2px solid #5D59FF;
}