.UserInfo {
  max-width: 1000px;
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 1rem;
  padding: 20px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.userProfile {
  max-width: 1000px;
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 2rem;
  padding: 20px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.paymentInfo {
  max-width: 1000px;
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 2rem;
  padding: 20px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.UserInfo label,
.userProfile label {
  margin-right: 10px;
  font-weight: 700;
}

.validInput {
  color: blue;
}

.invalidInput {
  color: red;
}

.UserInfo input[type='text'],
.UserInfo input[type='password'],
.userProfile input[type='text'] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 300px;
}

.UserInfo input.userBirth {
  width: 140px;
  margin-right: 10px;
}

.UserInfo select {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 150px;
}



.UserInfo input.userEmail {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 300px;
}

.UserInfo select.userPhone {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 80px;
}

.UserInfo input.userPhone {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-left: 5px;
  width: 93px;
}

.UserInfo input.vertifyNum {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 197px;
  text-align: right;
}

.UserInfo select.userGender {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 150px;
  margin-bottom: 10px;
  text-align: center;
}

.button {
  width: 90px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 7px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  background-color: #5d59ff;
}

.button:hover {
  background-color: white;
  color: black;
  border: 2px solid #5d59ff;
}

.deleteAccount {
  width: 90px;
  padding: 3px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  background-color: grey;
  position: absolute;
  right: 33.8%;
}

.selectFile {
  width: 90px;
  padding: 3px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  background-color: grey;
}

.changeInfo {
  width: 90px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 7px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  background-color: #5d59ff;
  position: absolute;
  right: 50%;
}