/* .btnCon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
} */

.signUpBtn {
  background-color: #fff;
  border: none;
  color: black;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

/* .signUpBtn:hover {
  background-color: #fff;
} */

.loginBtn {
  background-color: #5D59FF;
  border: none;
  color: white;
  padding: 14px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: -2 px -10px;
  cursor: pointer;
  border-radius: 10px;
  height: 45px;
  width: 280px;
  position: relative;
  left: -45px;
}

.findId {
  margin-right: -14px;
  position: relative;
  left : -42px
}