.btnCon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.signUpBtn {
  background-color: #fff;
  border: none;
  color: #5D59FF;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.signUpBtn:hover {
  background-color: #fff;
}

.loginBtn {
  background-color: #5D59FF;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}